<div class="container m-5">
  <h1>{{ title }}</h1>
  <button (click)="showtxt()" (click)="countclick()" class="btn btn-primary">
    Display details
  </button>
  <h1 class="mt-2">{{ ct }}</h1>
  <p *ngIf="show">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto iure
    temporibus natus consequuntur. Distinctio, dolores ad. Iste vel, pariatur
    omnis voluptatibus esse sed aut assumenda quisquam temporibus nemo fuga
    optio?Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <div class="input-group mb-3 w-50">
    <span class="input-group-text" id="inputGroup-sizing-default">Item</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      placeholder="Enter the text to add"
      #inputtxt
    />
  </div>
  <button (click)="addvalue(inputtxt)" class="btn btn-primary mb-2">Add</button>
  <table class="table w-50 table-bordered border-warning">
    <thead class="table-warning">
      <tr>
        <th scope="col">Item No.</th>
        <th scope="col">Item</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let i of data"
        [style.background-color]="i.itemno % 5 === 0 ? 'lightblue' : 'beige'"
      >
        <th scope="row">{{ i.itemno }}</th>
        <td>{{ i.itemname }}</td>
      </tr>
    </tbody>
  </table>
</div>
